---
features:
  basicAuth: true
  defaultBucket: false
  oidcAuth: true

autoscaling:
  enabled: true
  maxReplicas: 4

config:
  enabled: true
  configMap:
    BASICAUTH_ENABLED: "true"
    DB_PORT: "5432"
    KC_ENABLED: "true"
    KC_IDENTITYKEY: idir_user_guid,bceid_user_guid,github_id
    KC_PUBLICKEY: >-
      MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAuy7zfh2ZgpDV5mH/aXyLDTddZK81rGakJcTy4KvCNOkDDxt1KAhW02lmbCo8YhHCOzjNZBp1+Vi6QiMRgBqAe2GTPZYEiV70aXfROGZe3Nvwcjbtki6HoyRte3SpqLJEIPL2F+hjJkw1UPGnjPTWZkEx9p74b9i3BjuE8RnjJ0Sza2MWw83zoQUZEJRGiopSL0yuVej6t2LO2btVdVf7QuZfPt9ehkcQYlPKpVvJA+pfeqPAdnNt7OjEIeYxinjurZr8Z04hz8UhkRefcWlSbFzFQYmL7O7iArjW0bsSvq8yNUd5r0KCOQkFduwZy26yTzTxj8OLFT91fEmbBBl4rQIDAQAB
    KC_REALM: standard
    KC_SERVERURL: "https://dev.loginproxy.gov.bc.ca/auth"
    # SERVER_LOGFILE: ~
    SERVER_LOGLEVEL: http
    SERVER_PORT: "3000"
    SERVER_PRIVACY_MASK: "true"
    SERVER_TEMP_EXPIRESIN: "300"

postgres:
  enabled: true

  # --------------------------------
  # --------crunchydb config: ------
  # --------------------------------

  # --- resource allocation ----
  instances:
    - name: db # do not change this name after initial install, pvc (data) and stateful sets will be deleted
      replicas: 3
      dataVolumeClaimSpec:
        accessModes:
          - "ReadWriteOnce"
        storageClassName: "netapp-block-standard"
        resources:
          requests:
            storage: 3Gi
      resources:
        requests:
          cpu: 1m
          memory: 256Mi
        limits:
          cpu: 100m
          memory: 512Mi

  # -------- backups ---------
  pgBackRestConfig:
    global:
      # log-level-console: debug
      # --- pvc
      repo1-retention-full: "2"
      repo1-retention-diff: "3"
    repos:
      - name: repo1
        schedules:
          full: "0 7 * * *" # full backup every day at 7am
          differential: "0 */2 * * *" # differential every 2 hours
        volume:
          volumeClaimSpec:
            accessModes:
              - "ReadWriteOnce"
            resources:
              requests:
                storage: 2Gi
            storageClassName: "netapp-file-backup"
