{{- $bPassword := (randAlphaNum 32) | b64enc }}
{{- $bUsername := (randAlphaNum 32) | b64enc }}
{{- $pPassword := (randAlphaNum 32) | b64enc }}
{{- $pUsername := (randAlphaNum 32) | b64enc }}

{{- $bSecretName := printf "%s-%s" (include "coms.fullname" .) "basicauth" }}
{{- $bSecret := (lookup "v1" "Secret" .Release.Namespace $bSecretName ) }}
{{- $kSecretName := printf "%s-%s" (include "coms.fullname" .) "keycloak" }}
{{- $kSecret := (lookup "v1" "Secret" .Release.Namespace $kSecretName ) }}
{{- $oSecretName := printf "%s-%s" (include "coms.fullname" .) "objectstorage" }}
{{- $oSecret := (lookup "v1" "Secret" .Release.Namespace $oSecretName ) }}
{{- $pSecretName := printf "%s-%s" (include "coms.fullname" .) "passphrase" }}
{{- $pSecret := (lookup "v1" "Secret" .Release.Namespace $pSecretName ) }}

{{- if not $bSecret }}
---
apiVersion: v1
kind: Secret
metadata:
  {{- if not .Values.config.releaseScoped }}
  annotations:
    "helm.sh/resource-policy": keep
  {{- end }}
  name: {{ $bSecretName }}
  labels: {{ include "coms.labels" . | nindent 4 }}
type: kubernetes.io/basic-auth
stringData:
  password: {{ .Values.basicAuthSecretOverride.password | default $bPassword | quote }}
  username: {{ .Values.basicAuthSecretOverride.username | default $bUsername | quote }}
{{- end }}
{{- if not $pSecret }}
---
apiVersion: v1
kind: Secret
metadata:
  {{- if not .Values.config.releaseScoped }}
  annotations:
    "helm.sh/resource-policy": keep
  {{- end }}
  name: {{ $pSecretName }}
  labels: {{ include "coms.labels" . | nindent 4 }}
type: kubernetes.io/basic-auth
stringData:
  password: {{ .Values.dbSecretOverride.password | default $pPassword | quote }}
  username: {{ .Values.dbSecretOverride.username | default $pUsername | quote }}
{{- end }}
{{- if and (not $oSecret) (and .Values.objectStorageSecretOverride.password .Values.objectStorageSecretOverride.username) }}
---
apiVersion: v1
kind: Secret
metadata:
  {{- if not .Values.config.releaseScoped }}
  annotations:
    "helm.sh/resource-policy": keep
  {{- end }}
  name: {{ $oSecretName }}
  labels: {{ include "coms.labels" . | nindent 4 }}
type: kubernetes.io/basic-auth
stringData:
  password: {{ .Values.objectStorageSecretOverride.password | quote }}
  username: {{ .Values.objectStorageSecretOverride.username | quote }}
{{- end }}
{{- if and (not $kSecret) (and .Values.keycloakSecretOverride.password .Values.keycloakSecretOverride.username) }}
---
apiVersion: v1
kind: Secret
metadata:
  {{- if not .Values.config.releaseScoped }}
  annotations:
    "helm.sh/resource-policy": keep
  {{- end }}
  name: {{ $kSecretName }}
  labels: {{ include "coms.labels" . | nindent 4 }}
type: kubernetes.io/basic-auth
stringData:
  password: {{ .Values.keycloakSecretOverride.password | quote }}
  username: {{ .Values.keycloakSecretOverride.username | quote }}
{{- end }}
